body {
  margin: 0;
  font-family: monospace;
}

button,
input,
select,
textarea {
  font-family: inherit;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
}

:root {
  --color-muted: #eee;
  --color-dark: #333;
  --color-light: #fff;
  --padding: 1rem;
}

.layout {
  display: grid;
  grid-template:
    "header header" auto
    "left   left" 1fr
    "footer footer" auto
    / 1fr 1fr;
  min-height: 100vh;
}

.layout--split {
  grid-template:
    "header header" auto
    "left   right" 1fr
    "footer footer" auto
    / 1fr 1fr;
}

.layout > header {
  grid-area: header;
  padding: var(--padding);
  background: var(--color-dark);
  color: var(--color-light);
}

.layout > footer {
  grid-area: footer;
  padding: var(--padding);
  background: var(--color-dark);
  color: var(--color-light);
}
