body {
  margin: 0;
  font-family: monospace;
}

button,
input,
select,
textarea {
  font-family: inherit;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
}

:root {
  --color-muted: #eee;
  --color-dark: #333;
  --color-light: #fff;
  --padding: 1rem;
  --footer-gap: 0.5rem;
}
