apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
  - configmap.yaml
  - secrets.yaml
  - postgres.yaml
  - redis.yaml
  - garage.yaml
  - api.yaml
  - client.yaml
  - website.yaml
  - cloudflared.yaml
