[Unit]
Description=Run SymCrypt Stripe Seat Sync every minute

[Timer]
OnCalendar=*-*-* *:*:00
AccuracySec=5s
RandomizedDelaySec=5s
Persistent=true
Unit=symcrypt-stripe-seat-sync.service

[Install]
WantedBy=timers.target
