@import "tailwindcss";
@import "@rapid/ui/styles.css";

@source "../../ui/src";

/* Edge-to-edge safe area handling */
.safe-area-inset {
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}
