[Unit]
Description=Daily automatic patching timer

[Timer]
OnCalendar=*-*-* {{ (patch_time.split(':') + ['00','00'])[:3] | join(':') }} {{ patch_timezone }}
Persistent=true
RandomizedDelaySec=300

[Install]
WantedBy=timers.target
