NODE_ENV=production
DEEPSEEK_API_KEY={{ code_assist_deepseek_api_key }}
CODE_ASSIST_MODEL={{ code_assist_model }}
CODE_ASSIST_SEVERITY_THRESHOLD={{ code_assist_severity_threshold }}
CODE_ASSIST_MAX_COMMENTS={{ code_assist_max_comments }}
CODE_ASSIST_HOST=127.0.0.1
CODE_ASSIST_PORT={{ code_assist_port }}
CODE_ASSIST_GITHUB_APP_ID={{ code_assist_github_app_id }}
CODE_ASSIST_GITHUB_PRIVATE_KEY_PATH=/etc/symcrypt/code-assist-app.pem
CODE_ASSIST_GITHUB_WEBHOOK_SECRET={{ code_assist_github_webhook_secret }}
