NODE_ENV=production
API_DATABASE=postgres
POSTGRES_HOST={{ postgres_host }}
POSTGRES_PORT={{ postgres_port | default('5432') }}
POSTGRES_USER={{ postgres_user }}
POSTGRES_PASSWORD={{ postgres_password }}
POSTGRES_DATABASE={{ postgres_db }}
REDIS_URL=redis://{{ redis_bind }}:6379
BLOB_OBJECT_STORE={{ blob_object_store | default('memory') }}
{% if blob_object_store | default('') == 's3' %}
BLOB_OBJECT_STORE_S3_BUCKET={{ blob_s3_bucket | default('') }}
BLOB_OBJECT_STORE_S3_REGION={{ blob_s3_region | default('') }}
{% endif %}
