NODE_ENV=production
API_DATABASE=postgres
POSTGRES_HOST={{ postgres_host | quote }}
POSTGRES_PORT={{ postgres_migration_port | default(postgres_port) | quote }}
POSTGRES_USER={{ postgres_migration_user | default(postgres_user) | quote }}
POSTGRES_PASSWORD={{ postgres_migration_password | default(postgres_password) | quote }}
POSTGRES_DATABASE={{ postgres_db | quote }}
POSTGRES_SSL={{ 'true' if postgres_ssl | default(false) | bool else 'false' }}
POSTGRES_SSL_REJECT_UNAUTHORIZED=true
