server {
    listen 80;
{% if item == 'www' %}
    server_name {{ domain }} www.{{ domain }};
{% else %}
    server_name {{ item }}.{{ domain }};
{% endif %}

    root /var/www/{{ item }};
    index index.html;

    location / {
        try_files $uri $uri/ =404;
    }
}
