.pane {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.pane-content {
  flex: 1;
  padding: var(--padding);
}

.pane-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.pane-left {
  grid-area: left;
}

.pane-right {
  grid-area: right;
}

.layout:not(.layout--split) .pane-right {
  display: none;
}
