.window {
  --window-bar-padding: 0.25rem 0.5rem;
  position: absolute;
  background: var(--color-light);
  border: 1px solid var(--color-dark);

  display: flex;
  flex-direction: column;
  width: 600px;
  height: 400px;
  min-width: 200px;
  min-height: 100px;
}

.window--maximized {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  min-width: unset;
  min-height: unset;
}
