.window {
  --window-bar-padding: 0.25rem 0.5rem;
  position: absolute;
  background: var(--color-light);
  border: 1px solid var(--color-dark);

  display: flex;
  flex-direction: column;
  width: 900px;
  height: 600px;
  max-width: 100%;
  max-height: 100%;
  min-width: 200px;
  min-height: 100px;
}

.window--maximized {
  min-width: unset;
  min-height: unset;
}
