.window-sidebar-layout {
  display: flex;
  flex: 1;
  min-height: 0;
  height: 100%;
  overflow: hidden;
}

.window-sidebar {
  overflow: auto;
  scrollbar-gutter: var(--scrollbar-gutter);
  flex-shrink: 0;
  min-width: 5rem;
}

.window-sidebar-handle {
  width: 6px;
  margin: 0 -2px;
}

.window-sidebar-handle::before {
  left: 2px;
}

.window-sidebar-content {
  position: relative;
  flex: 1;
  min-width: 0;
  min-height: 0;
  overflow: hidden;
}

.window-sidebar-content-scroll {
  height: 100%;
  overflow: auto;
  scrollbar-gutter: var(--scrollbar-gutter);
}
